.title{
    font-family: 'Poppins', sans-serif;
}

.subtitle{
    font-family: 'Fira Sans', sans-serif;
}

.subsubtitle{
    font-family: 'Raleway', sans-serif;
    font-style: italic;
}

.description{
    font-family: 'Titillium Web', sans-serif;
}

.name{
    font-family: 'Montserrat', sans-serif;
}