.title{
    font-family: 'Poppins', sans-serif;
}

.subtitle{
    font-family: 'Fira Sans', sans-serif;
}

.subsubtitle{
    font-family: 'Quicksand', sans-serif;;
    font-size: 15px;
}

.description{
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
}

.name{
    font-family: 'Montserrat', sans-serif;
}